<title>ReviewsAPI</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!--link rel="stylesheet" type="text/css" href="/stylesheets/main.css" /-->
<link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
