<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <% include ../partials/header.ejs %>

  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 300px;
    }
    /* Optional: Makes the sample page fill the window. */

    .controls {
      background-color: #fff;
      border-radius: 2px;
      border: 1px solid transparent;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      box-sizing: border-box;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      height: 29px;
      margin-left: 17px;
      margin-top: 10px;
      outline: none;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 400px;
    }

    .controls:focus {
      border-color: #4d90fe;
    }
    .title {
      font-weight: bold;
    }
    #infowindow-content {
      display: none;
    }
    #map #infowindow-content {
      display: inline;
    }

  </style>
</head>

<body style="background-color: #e9ecef">
  <div class="jumbotron">
    <h1>Reviews Data Entry</h1>
    <% if (locals.errors) { %>
      <ul>
        <% errors.forEach(function(err) { %>
            <li><%= err.msg %></li>
        <% }); %>
      </ul>
    <% } %>
  </div>

  <input id="pac-input" class="controls" type="text"
      placeholder="Enter a location">
  <div id="map"></div>
  <div id="infowindow-content">
    <span id="place-name"  class="title"></span><br>
    Place ID <span id="place-id"></span><br>
    <span id="place-address"></span>
  </div>

  <form class="jumbotron" action="/web/post_review" method="post">
    <div class="form-group">
      <label for="google_place_id">Google Place ID</label>
      <input type="text" class="form-control" id="google_place_id" name="google_place_id" placeholder="Search from map above"
      value=<%= locals.formdata ? formdata.place_id : undefined %>>
    </div>
    <div class="form-row">
      <div class="col-6">
        <label for="place_lat">Latitude</label>
        <input type="text" class="form-control" id="place_lat" name="place_lat"
        value=<%= locals.formdata && formdata.location ? formdata.location[0] : undefined %>>
      </div>
      <div class="col-6">
        <label for="place_lng">Longitude</label>
        <input type="text" class="form-control" id="place_lng" name="place_lng"
        value=<%= locals.formdata && formdata.location ? formdata.location[1] : undefined %>>
      </div>
    </div>
    <div class="form-group">
      <label for="place_name">Place Name</label>
      <input type="text" class="form-control" id="place_name" name="place_name" placeholder=""
      value="<%= locals.formdata ? formdata.place_name : undefined %>">
    </div>
    <div class="form-group">
      <label for="place_rating">Place Rating</label>
      <input type="text" class="form-control" id="place_rating" name="place_rating" placeholder=""
      value="<%= locals.formdata ? formdata.rating : undefined %>">
    </div>

    <h3>Choose cover photo</h3>
    <div class="form-row">
      <div class="col-md-6 mt-3">
        <select id="place_cover_photo" name="place_cover_photo" class="form-control"></select>
        <br>
        <% if (locals.formdata && formdata.photos) {%>
          <button id="btn_loadphotos" type="button" class="btn btn-primary mb-3">Change cover photo</button>
        <% } %>
      </div>
      <div class="col-md-6 my-3">
        <img id="photo_preview" class="img-fluid" alt="No Image"
          src="<%= locals.formdata && formdata.photos ? formdata.photos[0] : undefined %>">
      </div>
    </div>

    <h3>Positive Comments</h3>
    <div id="pos_cmts">
      <% if (locals.formdata) { %>
         <% var i=0; formdata.review.positive.forEach(function(pos) { %>
           <div class="form-row pos_cmt_row">
             <div class="col-9">
               <input type="text" class="form-control" name="pcmt-<%= i %>" placeholder="Enter comment"
               value="<%= pos.comment %>">
             </div>
             <div class="col">
               <input type="number" class="form-control" name="pcount-<%= i %>" placeholder="Count e.g. 10"
               value="<%= pos.count %>">
             </div>
           </div>
         <% i += 1;
           }); %>
      <% } %>
    </div>
    <button id="btn_add_pos_cmt" type="button" class="btn btn-primary my-3">
      <span class="oi oi-plus" aria-hidden="true"></span>
      Add positive comment
    </button>

    <h3>Negative Comments</h3>
    <div id="neg_cmts">
      <% if (locals.formdata) { %>
         <% var j=0; formdata.review.negative.forEach(function(neg) { %>
           <div class="form-row neg_cmt_row">
             <div class="col-9">
               <input type="text" class="form-control" name="ncmt-<%= j %>" placeholder="Enter comment"
               value="<%= neg.comment %>">
             </div>
             <div class="col">
               <input type="number" class="form-control" name="ncount-<%= j %>" placeholder="Count e.g. 10"
               value="<%= neg.count %>">
             </div>
           </div>
         <% j += 1;
           }); %>
      <% } %>
    </div>
    <button id="btn_add_neg_cmt" type="button" class="btn btn-primary my-3">
      <span class="oi oi-plus" aria-hidden="true"></span>
      Add negative comment
    </button>

    <input type="hidden" id="photo_list" name="photo_list"
      value="<%= locals.formdata && formdata.photos ? formdata.photos.join(';') : undefined %>">
    <button id="btn_submit" type="submit" class="btn btn-success btn-block btn-lg my-5">Submit</button>
  </form>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbNxbR6l196sYi91gQEiB4Vmg1XY0DOJ4&libraries=places&callback=initMap" async defer></script>
<script type="text/javascript" src="/js/data_entry.js"></script>
</body>
</html>
