<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header_orig.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Welcome to Reviews API</h1>
    <p>Development in progress</p>
  </div>
</div>

</body>
</html>
