<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/css/place-comments.css" />
</head>

<body style="background-color: #e9ecef">
  <div class="jumbotron">
    <h1><%= pagedata.place_name %></h1>

    <% if (locals.pagedata && pagedata.photos) {%>
    <div class="row">
      <div class="offset-md-1 col-md-10 col-sm-12">
        <div id="carouselPlaces" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% var first_loop = true;
               pagedata.photos.forEach(function(photo_url) { %>
            <div class="carousel-item <%= first_loop ? 'active' : '' %>">
              <img class="d-block w-100" src="<%= photo_url %>" alt="First slide">
            </div>
            <% first_loop = false;
               }); %>
          </div>
          <a class="carousel-control-prev" href="#carouselPlaces" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselPlaces" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <% } %>

    <br></br>
    <h2 class="text-center">What people say...</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <ul class="list-group">
            <% pagedata.review.positive.forEach(function(pos) { %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <%= pos.comment %>
                  <span class="badge badge-success badge-pill">
                    <span class="oi oi-thumb-up" title="thumb-up" aria-hidden="true"></span>
                    <%= pos.count %>
                  </span>
                </li>
            <% }); %>
          </ul>
        </div>
        <div class="col-md-6 col-sm-12">
          <ul class="list-group">
            <% pagedata.review.negative.forEach(function(neg) { %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <%= neg.comment %>
                  <span class="badge badge-danger badge-pill">
                    <span class="oi oi-thumb-down" title="thumb-down" aria-hidden="true"></span>
                    <%= neg.count %>
                  </span>
                </li>
            <% }); %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container m1">
      <span class="text-muted">Source: Compiled information based on Google Reviews</span>
      <p>&nbsp;</p>
    </div>
  </footer>
</body>
</html>
