<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <% include ../partials/header.ejs %>
</head>

<body style="background-color: #e9ecef">
  <div class="jumbotron">
    <h1>Review Added Successfully</h1>
    <a class="btn btn-primary" href="/data_entry" role="button">Add more data</a>
  </div>
</body>
</html>
